* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

form {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
}

input {
    width: calc(100% - 20px);
    padding: 10px 20px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #b9b9b9;
}


input:focus {
    border: 1px solid #003aab;
}

::placeholder {
    font-size: 14px;
}

button {
    width: calc(100% - 20px);
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    font-weight: normal;
    background: #003aab;
    padding: 12px 24px;
    border-radius: 6px;
}

.btn {
    margin-bottom: 12px;
}

button:hover {
    background: #0036a8;
}

.propertyInfo-container {
    text-align: left;
}

.property-info {
    line-height: 1.6em;
    margin-bottom: 20px;
}

.checkbox {
    width: 18px;
    height: 18px;
}

